* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/*
GRID_CONTAINER
GRID_HEADER
GRID_SECTION_ONE
GIRD_SECTION_TWO
GRID_SECTION_THREE
GRID_FOOTER
*/
.GRID_CONTAINER {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "GRID_HEADER          GRID_HEADER" "GRID_SECTION_ONE     GRID_SECTION_ONE" "GIRD_SECTION_TWO     GIRD_SECTION_TWO" "GRID_SECTION_THREE   GRID_SECTION_THREE" "GRID_FOOTER          GRID_FOOTER";
}
.GRID_CONTAINER .GRID_HEADER {
  grid-area: GRID_HEADER;
}
.GRID_CONTAINER .GRID_SECTION_ONE {
  grid-area: GRID_SECTION_ONE;
}
.GRID_CONTAINER .GIRD_SECTION_TWO {
  grid-area: GIRD_SECTION_TWO;
}
.GRID_CONTAINER .GRID_SECTION_THREE {
  grid-area: GRID_SECTION_THREE;
}
.GRID_CONTAINER .GRID_FOOTER {
  grid-area: GRID_FOOTER;
}

/*
container_header
container_header_logo
container_header_enlaces
container_header_enlaces_ul
container_header_enlaces_ul_li
header_a
*/
.container_header {
  width: 100%;
  padding: 30px 50px;
  background: hsl(240deg, 75%, 98%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container_header .container_header_logo {
  width: 150px;
  height: 45px;
}
.container_header .container_header_enlaces {
  width: 300px;
}
.container_header .container_header_enlaces .container_header_enlaces_ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container_header .container_header_enlaces .container_header_enlaces_ul .container_header_enlaces_ul_li {
  padding: 5px 10px;
  text-align: center;
  list-style: none;
}
.container_header .container_header_enlaces .container_header_enlaces_ul .container_header_enlaces_ul_li .header_a {
  text-decoration: none;
  color: hsl(243deg, 87%, 12%);
}

/*******************(min-width:320px) and (max-width:423px)*************************************/
@media (min-width: 320px) and (max-width: 423px) {
  .container_header {
    padding: 20px;
  }
  .container_header .container_header_logo {
    width: 100px;
    height: 30px;
  }
  .container_header .container_header_enlaces {
    width: 180px;
  }
  .container_header .container_header_enlaces .container_header_enlaces_ul .container_header_enlaces_ul_li .header_a {
    font-size: 12px;
  }
}
/*
container_sectionOne
container_sectionOne_blockleft
container_sectionOne_title
container_sectionOne_parrafo
container_sectionOne_form
input
btn

container_sectionOne_blockRight
*/
.container_sectionOne {
  width: 100%;
  padding: 100px 50px;
  background: hsl(240deg, 75%, 98%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container_sectionOne .container_sectionOne_blockleft {
  width: 500px;
  padding: 10px 0px;
  background: hsl(240deg, 75%, 98%);
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_title {
  color: hsl(243deg, 87%, 12%);
  font-weight: 700;
  font-size: 30px;
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_parrafo {
  margin-top: 20px;
  font-weight: 400;
  color: hsl(243deg, 87%, 12%);
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form {
  margin-top: 20px;
  width: 400px;
  display: flex;
  position: relative;
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .input {
  width: 600px;
  padding: 10px;
  border: none;
  border: 2px solid hsl(0deg, 0%, 75%);
  outline: none;
  transition: 0.2s all;
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .input:focus {
  border: 2px solid hsl(224deg, 97%, 76%);
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .container_sectionOne_form_p {
  position: absolute;
  left: 5px;
  bottom: -25px;
  color: rgb(240, 89, 89);
  display: none;
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .activar_label_JS {
  display: block;
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .btn {
  width: 300px;
  margin-left: 10px;
  border: none;
  background: hsl(224deg, 93%, 58%);
  color: hsl(240deg, 75%, 98%);
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .btn:hover {
  background: hsl(224deg, 89%, 65%);
  cursor: pointer;
}
.container_sectionOne .container_sectionOne_blockRight {
  width: 600px;
  height: 400px;
}

/************************(min-width:320px) and (max-width:423px)********************************************/
@media (min-width: 320px) and (max-width: 423px) {
  .container_sectionOne {
    /****/
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
  }
  .container_sectionOne .container_sectionOne_blockleft {
    /*****/
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .container_sectionOne .container_sectionOne_blockleft .container_sectionOne_title {
    color: hsl(243deg, 87%, 12%);
    font-weight: 700;
    font-size: 30px;
  }
  .container_sectionOne .container_sectionOne_blockleft .container_sectionOne_parrafo {
    /**/
    width: 90%;
    margin: 20px auto;
  }
  .container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form {
    margin-top: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .input {
    /**/
    width: 100%;
    padding: 15px;
  }
  .container_sectionOne .container_sectionOne_blockleft .container_sectionOne_form .btn {
    /**/
    width: 100%;
    padding: 15px 0px;
    margin: 10px 0px;
  }
  .container_sectionOne .container_sectionOne_blockRight {
    width: 100%;
    height: 350px;
  }
}
/*
container_sectionTwo
    container_sectionTwo_blockLeft
    container_sectionTwo_blockLeft_title
    container_sectionTwo_blockLeft_parrafo
    container_sectionTwo_blockLeft_target
        container_sectionTwo_blockLeft_target_comillas
        container_sectionTwo_blockLeft_target_parrafo
        container_sectionTwo_blockLeft_target_avatar
        container_sectionTwo_blockLeft_target_avatar_img
        container_sectionTwo_blockLeft_target_avatar_section
    container_sectionTwo_blockRight
*/
.container_sectionTwo {
  width: 100%;
  padding: 10px 0px;
}
.container_sectionTwo .container_sectionTwo_curva {
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-curve-desktop.svg);
  background-size: 100% 100%;
  display: none;
}
.container_sectionTwo .container_sectionTwo_blocks {
  width: 100%;
  padding: 100px 50px;
  background: hsl(240deg, 73%, 97%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft {
  width: 550px;
  padding: 10px 0px;
  background: hsl(240deg, 73%, 97%);
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_title {
  color: hsl(243deg, 87%, 12%);
  font-size: 30px;
  font-weight: 700;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_parrafo {
  margin-top: 30px;
  color: hsl(243deg, 87%, 12%);
  font-weight: 400;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_parrafo .leftParrafoHipervinculo {
  color: hsl(170deg, 45%, 43%);
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target {
  margin-top: 30px;
  width: 380px;
  padding: 20px 30px;
  background: hsl(240deg, 75%, 98%);
  box-shadow: 0px 0px 10px hsl(0deg, 0%, 75%);
  border-radius: 10px;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_comillas {
  width: 20px;
  height: 20px;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_parrafo {
  margin-top: 10px;
  color: hsl(243deg, 87%, 12%);
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar {
  margin-top: 20px;
  width: 80%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_section {
  width: 180px;
  padding: 10px 0px;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_section .container_sectionTwo_blockLeft_target_avatar_section_name {
  color: hsl(243deg, 87%, 12%);
  font-weight: 700;
  font-size: 20px;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_section .container_sectionTwo_blockLeft_target_avatar_section_description {
  margin-top: 5px;
  color: hsl(243deg, 87%, 12%);
  font-weight: 400;
  font-size: 16px;
}
.container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockRight {
  width: 500px;
  padding: 10px 0px;
  background: hsl(240deg, 73%, 97%);
}

/*********(min-width:320px) and (max-width:423px)*******************************/
@media (min-width: 320px) and (max-width: 423px) {
  .container_sectionTwo {
    width: 100%;
  }
  .container_sectionTwo .container_sectionTwo_blocks {
    /**/
    width: 100%;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft {
    /**/
    margin-top: 20px;
    width: 100%;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_title {
    color: hsl(243deg, 87%, 12%);
    font-size: 30px;
    font-weight: 700;
    /**/
    text-align: center;
    font-size: 18px;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_parrafo {
    margin-top: 30px;
    color: hsl(243deg, 87%, 12%);
    font-weight: 400;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_parrafo .leftParrafoHipervinculo {
    color: hsl(170deg, 45%, 43%);
    /**/
    margin-left: calc(50% - 80px);
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target {
    /**/
    padding: 20px;
    width: 100%;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_comillas {
    /**/
    width: 15px;
    height: 15px;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_parrafo {
    /**/
    margin-top: 15px;
    font-size: 12px;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar {
    /**/
    padding: 5px 0px;
    width: 80%;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_img {
    /**/
    width: 50px;
    height: 50px;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_section {
    width: 150px;
    padding: 10px 0px;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_section .container_sectionTwo_blockLeft_target_avatar_section_name {
    /**/
    font-size: 16px;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockLeft .container_sectionTwo_blockLeft_target .container_sectionTwo_blockLeft_target_avatar .container_sectionTwo_blockLeft_target_avatar_section .container_sectionTwo_blockLeft_target_avatar_section_description {
    /**/
    font-size: 12px;
  }
  .container_sectionTwo .container_sectionTwo_blocks .container_sectionTwo_blockRight {
    width: 100%;
    height: 300px;
    padding: 10px 0px;
    background: hsl(240deg, 73%, 97%);
  }
}
/*
container_sectionThree
container_sectionThree_blockLeft
    container_sectionThree_blockLeft_title
    container_sectionThree_blockLeft_parrafo
container_sectionThree_blockRight
    inputTree
    btnStarted
*/
.container_sectionThree {
  width: 100%;
  padding: 100px 50px;
  background-color: hsl(238deg, 22%, 44%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container_sectionThree .container_sectionThree_blockLeft {
  width: 500px;
  padding: 10px 0px;
}
.container_sectionThree .container_sectionThree_blockLeft .container_sectionThree_blockLeft_title {
  font-size: 30px;
  color: hsl(240deg, 75%, 98%);
  font-weight: 700;
}
.container_sectionThree .container_sectionThree_blockLeft .container_sectionThree_blockLeft_parrafo {
  margin-top: 20px;
  color: hsl(240deg, 75%, 98%);
  font-weight: 400;
}
.container_sectionThree .container_sectionThree_blockRight {
  width: 500px;
  padding: 10px 0px;
}
.container_sectionThree .container_sectionThree_blockRight .inputTree {
  width: 100%;
  padding: 15px;
  outline: none;
  transition: 0.2s all;
}
.container_sectionThree .container_sectionThree_blockRight .container_sectionThree_blockRight_label {
  margin-top: 10px;
  color: hsl(240deg, 75%, 98%);
  display: none;
}
.container_sectionThree .container_sectionThree_blockRight .activar_label_JS {
  display: block;
}
.container_sectionThree .container_sectionThree_blockRight .btnStarted {
  margin-top: 10px;
  width: 50%;
  padding: 15px 0px;
  border: none;
  background: hsl(224deg, 93%, 58%);
  color: hsl(240deg, 75%, 98%);
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_sectionThree .container_sectionThree_blockRight .btnStarted:hover {
  background: hsl(224deg, 97%, 76%);
  cursor: pointer;
}

/**************(min-width:320px) and (max-width:423px)****************************************/
@media (min-width: 320px) and (max-width: 423px) {
  .container_sectionThree {
    /**/
    width: 100%;
    padding: 100px 10px;
    background-color: hsl(238deg, 22%, 44%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .container_sectionThree .container_sectionThree_blockLeft {
    /**/
    width: 100%;
  }
  .container_sectionThree .container_sectionThree_blockRight {
    /**/
    width: 100%;
  }
  .container_sectionThree .container_sectionThree_blockRight .inputTree {
    /**/
    width: 80%;
    margin: auto;
    padding: 15px;
    border: none;
    outline: none;
  }
  .container_sectionThree .container_sectionThree_blockRight .btnStarted {
    /**/
    width: 80%;
  }
  .container_sectionThree .container_sectionThree_blockRight .btnStarted:hover {
    background: hsl(224deg, 97%, 76%);
    cursor: pointer;
  }
}
/*
container_footer
container_footer_blockLeft
    container_footer_blockLeft_logo
    container_footer_blockLeft_phone
    container_footer_blockLeft_phone_blockPhone
    container_footer_blockLeft_phone_blockText
    container_footer_blockLeft_phone
    container_footer_blockLeft_phone_blockPhone
    container_footer_blockLeft_phone_blockText


container_footer_blockCenter
    container_footer_blockCenter_blockEnlaces
    container_footer_blockCenter_blockEnlaces_ul
    container_footer_blockCenter_blockEnlaces_ul_li
        footer_li


container_footer_blockRight
    container_footer_blockRight_blockRedes
        container_footer_blockRight_blockRedes_box
        iconRedes
*/
.container_footer {
  width: 100%;
  padding: 100px 50px;
  background: hsl(243deg, 87%, 12%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_footer .container_footer_blockLeft {
  width: 280px;
  padding: 10px 0px;
}
.container_footer .container_footer_blockLeft .container_footer_blockLeft_logo {
  width: 140px;
  height: 40px;
}
.container_footer .container_footer_blockLeft .container_footer_blockLeft_phone {
  margin-top: 15px;
  width: 80%;
  padding: 1px 0px;
  display: flex;
}
.container_footer .container_footer_blockLeft .container_footer_blockLeft_phone .container_footer_blockLeft_phone_blockPhone {
  width: 23px;
  height: 18px;
}
.container_footer .container_footer_blockLeft .container_footer_blockLeft_phone .container_footer_blockLeft_phone_blockText {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.container_footer .container_footer_blockCenter {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 130px;
}
.container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces {
  width: 200px;
  padding: 5px 0px;
}
.container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul {
  width: 100%;
  padding: 10px 0px;
  list-style: none;
}
.container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul .container_footer_blockCenter_blockEnlaces_ul_li {
  width: 100%;
  margin: 1px 0px;
  padding: 10px;
}
.container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul .container_footer_blockCenter_blockEnlaces_ul_li .footer_li {
  text-decoration: none;
  color: hsl(0deg, 0%, 75%);
}
.container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul .container_footer_blockCenter_blockEnlaces_ul_li .footer_li:hover {
  color: hsl(240deg, 75%, 98%);
}
.container_footer .container_footer_blockRight {
  width: 130px;
  margin-top: 30px;
}
.container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
}
.container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box .iconRedes {
  transition: 0.5s all;
  color: hsl(240deg, 75%, 98%);
}
.container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box:hover {
  cursor: pointer;
}
.container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box:hover .iconRedes {
  color: hsl(224deg, 93%, 58%);
}

/********************(min-width:320px) and (max-width:423px){*******************************************/
@media (min-width: 320px) and (max-width: 423px) {
  .container_footer {
    width: 100%;
    padding: 100px 50px;
    background: hsl(243deg, 87%, 12%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .container_footer .container_footer_blockLeft {
    width: 280px;
    padding: 10px 0px;
  }
  .container_footer .container_footer_blockLeft .container_footer_blockLeft_logo {
    width: 160px;
    height: 50px;
    margin-bottom: 30px;
  }
  .container_footer .container_footer_blockLeft .container_footer_blockLeft_phone {
    margin-top: 15px;
    width: 80%;
    padding: 1px 0px;
    display: flex;
  }
  .container_footer .container_footer_blockLeft .container_footer_blockLeft_phone .container_footer_blockLeft_phone_blockPhone {
    width: 23px;
    height: 18px;
  }
  .container_footer .container_footer_blockLeft .container_footer_blockLeft_phone .container_footer_blockLeft_phone_blockText {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  .container_footer .container_footer_blockCenter {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
  }
  .container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces {
    width: 200px;
    padding: 5px 0px;
  }
  .container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul {
    width: 100%;
    padding: 10px 0px;
    list-style: none;
  }
  .container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul .container_footer_blockCenter_blockEnlaces_ul_li {
    width: 100%;
    margin: 1px 0px;
    padding: 10px;
  }
  .container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul .container_footer_blockCenter_blockEnlaces_ul_li .footer_li {
    text-decoration: none;
    color: hsl(0deg, 0%, 75%);
  }
  .container_footer .container_footer_blockCenter .container_footer_blockCenter_blockEnlaces .container_footer_blockCenter_blockEnlaces_ul .container_footer_blockCenter_blockEnlaces_ul_li .footer_li:hover {
    color: hsl(240deg, 75%, 98%);
  }
  .container_footer .container_footer_blockRight {
    width: 130px;
    margin: 30px auto;
  }
  .container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
  }
  .container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box .iconRedes {
    transition: 0.5s all;
    color: hsl(240deg, 75%, 98%);
  }
  .container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box:hover {
    cursor: pointer;
  }
  .container_footer .container_footer_blockRight .container_footer_blockRight_blockRedes .container_footer_blockRight_blockRedes_box:hover .iconRedes {
    color: hsl(224deg, 93%, 58%);
  }
}

/*# sourceMappingURL=main.css.map */
