//Colors
//Primary

$Very_Dark_Blue: hsl(243, 87%, 12%);
$Desaturated_Blue: hsl(238, 22%, 44%);
$Desaturated_Blue_claro: hsl(240, 73%, 97%);

//Accent

$Bright_Blue: hsl(224, 93%, 58%);
$Bright_Blue_claro: hsl(224, 97%, 76%);

$Moderate_Cyan: hsl(170, 45%, 43%);

//Neutral

$Light_Grayish_Blue: hsl(240, 75%, 98%);
$Light_Gray: hsl(0, 0%, 75%);


//FUENTES
$Font_titles:30px;