@import "colorFont";

/*
container_sectionTwo
    container_sectionTwo_blockLeft
    container_sectionTwo_blockLeft_title
    container_sectionTwo_blockLeft_parrafo
    container_sectionTwo_blockLeft_target
        container_sectionTwo_blockLeft_target_comillas
        container_sectionTwo_blockLeft_target_parrafo
        container_sectionTwo_blockLeft_target_avatar
        container_sectionTwo_blockLeft_target_avatar_img
        container_sectionTwo_blockLeft_target_avatar_section
    container_sectionTwo_blockRight
*/
.container_sectionTwo{
    width: 100%;
    padding: 10px 0px;
    .container_sectionTwo_curva{
        width: 100%;
        height: 100px;
        background-image: url(../images/bg-curve-desktop.svg);
        background-size: 100% 100%;
        display: none;
    }

    .container_sectionTwo_blocks{
        width: 100%;
        padding: 100px 50px;
        background:$Desaturated_Blue_claro;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .container_sectionTwo_blockLeft{
            width: 550px;
            padding: 10px 0px;
            background:$Desaturated_Blue_claro;
            .container_sectionTwo_blockLeft_title{
                color: $Very_Dark_Blue;
                font-size: $Font_titles;
                font-weight: 700;
            }
            .container_sectionTwo_blockLeft_parrafo{
                margin-top: 30px;
                color: $Very_Dark_Blue;
                font-weight: 400;
                .leftParrafoHipervinculo{
                    color: $Moderate_Cyan;
                }
            }
    
            .container_sectionTwo_blockLeft_target{
                margin-top: 30px;
                width: 380px;
                padding: 20px 30px;
                background:$Light_Grayish_Blue;
                box-shadow: 0px 0px 10px $Light_Gray;
                border-radius: 10px;
                .container_sectionTwo_blockLeft_target_comillas{
                    width: 20px;
                    height: 20px;
                }
                .container_sectionTwo_blockLeft_target_parrafo{
                    margin-top: 10px;
                    color:$Very_Dark_Blue;
                }
                .container_sectionTwo_blockLeft_target_avatar{
                    margin-top: 20px;
                    width: 80%;
                    padding: 10px 0px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    .container_sectionTwo_blockLeft_target_avatar_img{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    .container_sectionTwo_blockLeft_target_avatar_section{
                        width: 180px;
                        padding: 10px 0px;
                        .container_sectionTwo_blockLeft_target_avatar_section_name{
                            color: $Very_Dark_Blue;
                            font-weight: 700;
                            font-size: 20px;
                            
                        }
                        .container_sectionTwo_blockLeft_target_avatar_section_description{
                            margin-top: 5px;
                            color: $Very_Dark_Blue;
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    
        .container_sectionTwo_blockRight{
            width: 500px;
            padding: 10px 0px;
            background:$Desaturated_Blue_claro;
        }
    }

}



/*********(min-width:320px) and (max-width:423px)*******************************/

@media (min-width:320px) and (max-width:423px){
    .container_sectionTwo{
        width: 100%;
    
        .container_sectionTwo_blocks{
           
          
            /**/
            width: 100%;
            padding: 30px 10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            .container_sectionTwo_blockLeft{
                /**/
                margin-top: 20px;
                width: 100%;

                .container_sectionTwo_blockLeft_title{
                    color: $Very_Dark_Blue;
                    font-size: $Font_titles;
                    font-weight: 700;

                    /**/
                    text-align: center;
                    font-size: 18px;
                }
                .container_sectionTwo_blockLeft_parrafo{
                    margin-top: 30px;
                    color: $Very_Dark_Blue;
                    font-weight: 400;
                    
                 
                    .leftParrafoHipervinculo{
                        color: $Moderate_Cyan;
                        /**/
                        margin-left:calc(50% - 80px);
                        
                    }
                }
        
                .container_sectionTwo_blockLeft_target{
                   

                    /**/
                    padding: 20px;
                    width: 100%;
                    .container_sectionTwo_blockLeft_target_comillas{
                        /**/
                        width: 15px;
                        height: 15px;
                    }
                    .container_sectionTwo_blockLeft_target_parrafo{
                        

                        /**/
                        margin-top: 15px;
                        font-size: 12px;
                    }
                    .container_sectionTwo_blockLeft_target_avatar{
                       

                        /**/
                        padding: 5px 0px;
                        width: 80%;
                        .container_sectionTwo_blockLeft_target_avatar_img{
                            
                           

                            /**/
                            width: 50px;
                            height: 50px;
                        }
                        .container_sectionTwo_blockLeft_target_avatar_section{
                            width: 150px;
                            padding: 10px 0px;
                            
                            
                            .container_sectionTwo_blockLeft_target_avatar_section_name{
                                

                                /**/
                                font-size: 16px;
                                
                            }
                            .container_sectionTwo_blockLeft_target_avatar_section_description{
                               
                                /**/
                                font-size: 12px;

                            }
                        }
                    }
                }
            }
        
            .container_sectionTwo_blockRight{
                width: 100%;
                height: 300px;
                padding: 10px 0px;
                background:$Desaturated_Blue_claro;
            }
        }
    
    }
}